{% extends "layout.twig" %}
{% block content %}

<!-- CONTAINER -->
<div class="template-container">
	<div class="home-page">

		<!-- FULL SCREEN FEATURE -->
		{{widget('feature', 'feature', {
			'defaultBgImg': asset('images/slide-2.jpg'),
		})|raw}}

		<!-- HEADER -->
		{% include "includes/header.twig" %}

	</div>

	<!-- MAIN SECTION -->
	<div role="main" id="main">

		<div class="container">

			<!-- MAIN ZONE -->
			{{zone('main')|raw}}

		</div>

	</div>

	<!-- FOOTER -->
	{% include "includes/footer.twig" %}

</div>
<!-- END CONTAINER -->

{% endblock %}
